.app
{
    height: 650px;
    max-width: 610px;
    background:#fff;
    border-radius: 8px;
    padding: 16px 25px 0;
    transition: height 0.2s ease;
}
h1
{
    font-size: 30px;
    font-style: bold;
    text-align: center;
    
}
p
{
    margin-top: 5px;
    color: #474747;
    font-size: 18px;
    text-align: center;

}

.app .form

{
    margin: 20px 0 25px;
}

.form input,button
{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.form input
{
    font-size: 18px;
    padding: 0 17px;
    border:  1px solid rgba(153, 153, 153, 0.534);
}

.form button
{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background-color: #0b8bda;
}

.form button:hover
{
    background-color: #0469a8;
    
}

.qr-code
{
    display: flex;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
